html, body {
    margin: 0;
}

.grid{
    overflow: hidden;
}

.row .cell {
    float: left;
    height: 100px;
    margin: 1%;
    width: 100px;
    border: 1px solid;
    text-align: center;
    padding-top: 40px;
    background: black;
    color: #000;
}

.row {
    margin: 1%;
    padding-left: 15px;
}
